{
  "type": "minecraft:crafting_shaped", 
  "pattern": [{{ lines }}],
  "key":{ {{ recipeItems }} },
  "result": {
    {% if outputType == 'item' %} 
      "id": "{{ outputItem["baseItem"] }}",
      "count": {{ outputCount }},
      "components": {
        "minecraft:item_name": {
          "italic": false,
          "text": "{{ outputItem["displayName"] }}"
        },
        "minecraft:item_model": "{{ packNamespace }}:{{ outputItem["name"] }}"
      }
    {% elif outputType == 'block' %}
      "id": "minecraft:item_frame",
      "count": {{ outputCount }},
      "components": {
        "minecraft:item_model": "{{ packNamespace }}:{{ outputItem["name"] }}",
        "minecraft:custom_name": {
          "italic": false,
          "text": "{{ outputItem["displayName"] }}"
        },
        "minecraft:entity_data": {
          "id": "minecraft:item_frame",
          "Fixed": true,
          "Invisible": true,
          "Silent": true,
          "Invulnerable": true,
          "Facing": 1,
          "Tags": [
            "{{ packAuthor }}.item_frame_block",
            "{{ packAuthor }}.{{ outputItem["name"] }}"
          ]
        }
      }
    {% else %}
      "id": "minecraft:{{ outputItem }}",
      "count": {{ outputCount }}
    {% endif %}
  }
}