{
    "structures": [
        {
        "structure": "{{ namespace }}:{{ name }}",
        "weight": 1
        }
    ],
    "placement": {
        "type": "minecraft:random_spread",
        "spacing": {{ spacing }},
        "seperation": {{ seperation }},
        "salt": 0
    }
}